
<h2 [matTooltipPosition]="'right'" matTooltip="ToolTip Test"> Chat ToolTip Test</h2>


			<a
				[routerLink]="'/home'"
				>Home</a
			>
			|
			<a
				[routerLink]="'/teste-page'"
				>Teste Page</a
			>


<div><p id="snapinplaceholder"></p></div>

<router-outlet></router-outlet>
